body{
  font-family: Jura;
  background-color: white;
}

input{
  border: none;
}

::placeholder{
  color: white;
  opacity: 1;
}

.inputs{
  width: 1200px;
  margin: auto;
  min-height: 1600px;
  clear: both;
}

.flashinfo{
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-weight: bold;
  color: red;
  float: left;
  clear: both;
  text-transform: uppercase;
}

.box{
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  float: left;
  clear: both;
  margin-top: 20px;
}

.opis{
  font-weight: normal;
  font-size: 20px;
  width: 800px;
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 30px;
  margin: auto;
}

.clr{
  clear: both;
  float: left;
}

.checkbox{
  margin-top: 20px;
  font-weight: bold;
  line-height: 25px;
  float: left;
  margin-left: 10px;
  width: 17px;
  height: 17px;
}

.checkbox_all ul{
  display: flex;
  flex-wrap: wrap;
  gap: 10px 70px;
}

.checkbox_all{
  display: flex;
  flex-wrap: wrap;
  width: 1050px;
  margin: auto;
  margin-top: 10px;
}

.checkbox_all ul li{
  width: 280px;
}

.category-item{
  position: relative;
  display: flex;
  min-width: 100px;
  font-size: 18px;
}

.linia{
  height: 30px;
  width: 1px;
  background-color: black;
}

.category-item label{
  text-transform: uppercase;
  min-width: 30px;
  min-width: 10px;
}

.category-item input{
  width: 18px;
}

.mt{
  margin-top: 100px;
}

.box_check{
  width: 100%;
  height: 444px;
  box-sizing: border-box;
  float: left;
  clear: both;
  margin-top: 20px;
}



.val{
  font-size: 12px;
  margin-left: 10px;
}

.opis2{
  font-weight: normal;
  font-size: 20px;
  min-width: 100px;
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  box-sizing: border-box;
  padding-top: 8px;
  float: left;
  margin-left: 40px;
  text-align: right;
}

.cena{
  font-size: 15px;
  width: 100px;
  height: 40px;
  background-color: rgba(40, 41, 40, 1);
  padding: 5px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  transition: all 0.2s linear;
  float: left;
  margin-top: 7px;
  margin-left: 10px;
  text-align: center;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);

}

.nazwauslugi{
  font-size: 15px;
  width: 800px;
  height: 40px;
  background-color: rgba(40, 41, 40, 1);
  padding-left: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  transition: all 0.2s linear;
  margin: auto;
  display: flex;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);

}

.opisuslugi{
  font-size: 15px;
  width: 800px;
  height: 250px;
  background-color: rgba(40, 41, 40, 1);
  padding: 10px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  transition: all 0.2s linear;
  margin: auto;
  display: flex;
  resize: none;
  text-align: justify;
  font-family: Jura;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);

}

.ml{
  margin-left: 60px;
}

.btndodaj{
  width: 260px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 5px solid rgba(46, 83, 229, 1);
  line-height: 35px;
  color: rgba(46, 83, 229, 1);
  text-align: center;
  font-weight: bold;
  background-color: white;
  font-family: Jura;
  clear: both;
  margin-top: 10px;
  margin-right: 25px;
  float: right;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}

.btndodaj:hover{
  cursor: pointer;
  background-color: rgba(46, 83, 229, 1);
  color: white;
}

.mt-2{
  margin-top: 100px;
  height: 50px;
}





.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: auto;
  padding: 20px;
  gap: 10px;
  min-height: 50px;
  border: 1px solid gray;
  margin-top: 30px;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

.gallery-item {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.gallery-item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.remove-button{
  display: none;
}

.gallery-item:hover .remove-button {
  position: absolute;
  bottom: 20px;
  margin:auto;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
}

.draggable {
  cursor: grab;
}

.image-input{
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.label{
  margin-top: 30px;
  margin: auto;
  display: block;
  position: relative;
  width: 800px;
  height: 50px;
  top: 0px;
  border-radius: 25px;
  background: rgba(46, 83, 229, 1);;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}

.image-input:hover + label,
.image-input:focus + label {
  transform: scale(1.02);
}

@media (max-width: 1200px) {

  .box{
    width: 90%;
    display: block;
    margin: auto;
    float: none;
    margin-top: 20px;
  }

  .inputs{
    width: 100%;
  }

  .opis{
    width: 100%;
  }

  .nazwauslugi{
    width: 100%;
  }

  .label{
    width: 100%;
    margin: auto;
  }

  .opisuslugi{
    width: 100%;
    min-height: 200px;
    height: unset;
  }

  .gallery-item{
    width: 150px;
    height: 150px;
  }

  #image-upload-container{
    width: 90%;
    margin: auto;
    margin-top: 70px;
  }

  .mt-2{
    width: 280px;
    height: 400px;
    margin-top: 50px;
    text-align: center;
  }

  .dodajForm{
    margin: auto;
    height: unset;
    min-height: 1500px;
  }

  .opis2{
    float: left;
    width: 170px;
    clear: both;
    margin-left: 0px;
    margin-top: 20px;
  }

  .cena{
    float: left;
    margin-top: 27px;
  }

  .checkbox{
    float: left;
    margin-top: 39px;
    margin-left: 20px;
  }

  .ml{
    clear: none;
    margin-left: 0px;
  }

  .checkbox_all{
    width: 320px;
    margin: auto;
  }

  .box_check{
    width: 70%;
    height: unset;
    min-height: 100px;
    margin: auto;
    float: unset;
  }

  .box_check > .opis{
    padding-left: 0px;
    text-align: center;
  }

}
