body{
  padding: 0px;
  margin: 0px;
  font-family: Jura;
}

#menu{
  width: 100%;
  background-color: rgba(16, 17, 16, 1);
  height: 215px;
  float: left;
  clear: both;
}

input{
  all: unset;
}

.kat{
  float: left;
  width: 400px;
  height: 30px;
  font-size: 22px;
  font-weight: normal;
  font-family: Jura;
  margin-left: 15px;
  padding-left: 10px;
}

.mt-50{
  margin-top: 50px;
}

.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}

.mt-25{
  margin-top: 25px;
}

.usun{
  width: 90%;
  height: 34%;
  font-size: 15px;
  text-align: center;
  line-height: 49px;
  font-weight: bold;
  float: left;
  border-radius: 25px;
  transition: 0.5s background-color;
  box-sizing: border-box;
  color: red;
  background-color: white;
  border: 3px solid red;
}

.usun:hover{
  cursor: pointer;
  transition: 0.5s background-color;
  background-color: red;
  color: white;
}

.potwierdz{
  width: 90%;
  height: 33%;
  font-size: 15px;
  text-align: center;
  line-height: 49px;
  font-weight: bold;
  float: left;
  border-radius: 25px;
  transition: 0.5s background-color;
  box-sizing: border-box;
  color: rgb(23, 160, 23);
  background-color: white;
  border: 3px solid rgb(23, 160, 23);
}

.potwierdz:hover{
  cursor: pointer;
  transition: 0.5s background-color;
  background-color: rgb(23, 160, 23);
  color: white;
}

.odrzuc{
  width: 90%;
  height: 33%;
  font-size: 15px;
  text-align: center;
  line-height: 49px;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  float: left;
  transition: 0.5s background-color;
  box-sizing: border-box;
  color: rgb(231, 150, 0);
  background-color: white;
  border: 3px solid rgb(231, 150, 0);
}

.odrzuc:hover{
  cursor: pointer;
  transition: 0.5s background-color;
  color: white;
  background-color: rgb(231, 150, 0);
}

.opcja{
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  clear: both;
}

#setts{
  width: 100%;
  height: 100px;
  float: left;
  text-align: center;
  margin-top: 15px;
  box-sizing: border-box;
  float: left;
  clear: both;
}

.przycisk{
  width: fit-content;
  height: 50px;
  background-color: rgba(40, 41, 40, 1);
  color: white;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 2px;
  display: inline-block;
  line-height: 50px;
  vertical-align: top;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.2s linear;
}

.clicked{
  background-color: rgba(46, 83, 229, 1);
}

.przycisk:hover{
  cursor: pointer;
}

#footer{
  position: fixed;
  bottom: 0;
  left: 0;
}

.moja_usluga{
  width: 620px;
  height: 150px;
  box-sizing: border-box;
  margin: auto;
  background-color: white;
  border-radius: 10px 0px 0px 0px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  transition: 0.5s scale;
  scale: 1;
}

.usluga_na_wymiane{
  width: 840px;
  height: 150px;
  box-sizing: border-box;
  margin: auto;
  background-color: white;
  border-radius: 10px 0px 0px 0px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  transition: 0.5s scale;
  scale: 1;
}

.status{
  width: 30px;
  height: 150px;
  float: left;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  writing-mode: vertical-rl;
}

.oczekujace{
  background-color: rgba(255, 166, 0, 0.527);
}

.potwierdzona{
  background-color: rgba(0, 255, 0, 0.527);
}

.odrzucona{
  background-color: rgba(255, 0, 0, 0.527);
}

.anulowana{
  background-color: rgba(0, 119, 255, 0.527);
}

.ustawienia{
  width: 600px;
  height: 100px;
  margin: auto;
  clear: both;
  padding-top: 20px;
  box-sizing: border-box;
}

.twoja{
  margin-top: 40px;
  font-weight: bold;
}

.wymiana{
  width: 900px;
  height: 460px;
  margin: auto;
  margin-top: 15px;
  box-sizing: border-box;
  padding: 25px;
  margin-bottom: 150px;
}

.container{
  width: 1500px;
  margin: auto;
  min-height: 500px;
  clear: both;
}

.opiswymiany{
  width: 640px;
  margin: auto;
  height: 20px;
  font-weight: bold;
  padding-left: 25px;
  box-sizing: border-box;
  margin-top: 15px;
}

.opisrezerwacji{
  width: 840px;
  margin: auto;
  height: 20px;
  font-weight: bold;
  padding-left: 15px;
  box-sizing: border-box;
  margin-top: 15px;
}

.ogloszenie{
  clear: both;
  width: 840px;
  height: 150px;
  box-sizing: border-box;
  background-color: white;
  margin: auto;
  border-radius: 10px 0px 0px 0px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  transition: 0.5s scale;
  scale: 1;
  margin-bottom: 100px;
}

.swal-custom-button {
  background-color: rgb(0, 119, 255) !important; 
  color: #fff !important; 
  border: none !important; 
  border-radius: 5px !important;
  padding: 10px 20px !important; 
  font-size: 16px !important; 
  transition: background-color 0.3s ease !important;
}

.swal-custom-button:hover {
  background-color: rgb(0, 124, 255) !important;
}

.swal-small-icon {
  width: 50px !important; 
  height: 50px !important; 
}

.swal-small-icon:active {
  all: unset;
}

.swla2-action{
  all: unset;
}

.swla2-action:active{
  all: unset;
}

.wiadomosc:hover{
  cursor: pointer;
  transition: 0.5s background-color;
  color: white;
  background-color: rgb(0, 119, 255);
}

.ogloszenie:hover{
  scale: 1.01;
  transition: 0.5s scale;
  cursor: pointer;
}

.moja_usluga:hover{
  scale: 1.01;
  transition: 0.5s scale;
  cursor: pointer;
}

.usluga_na_wymiane:hover{
  scale: 1.01;
  transition: 0.5s scale;
  cursor: pointer;
}

.top{
  margin-top: 50px;
}

.last{
  margin-bottom: 85px;
}

.zdjecie{
  width: 220px;
  height: 150px;
  float: left;
  box-sizing: border-box;
  border-radius: 10px 0px 0px 0px;
}

:root {
  --lh: 1.3rem;
}

.alerts{
  width: 100%;
  height: 50px;
  clear: both;
  margin-bottom: 30px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.error{
  color: red;
}

.success{
  color: green;
}

.tytul{
  width: 90%;
  height: 60px;
  float: left;
  font-weight: bold;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 10px;
  --max-lines: 2;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
}


.uslugainfo{
  padding-top: 10px;
  min-width: 100px;
  min-height: 50px;
  float: left;
  box-sizing: border-box;
}

.trademark{
  padding: 15px;
  width: 80px;
  height: 80px;
  clear: both;
  margin: auto;
}

.tradeicon{
  width: 100%;
  height: auto;
}

.data{
  min-width: 50px;
  height: 20px;
  float: left;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  margin-left: 30px;
  clear: both;
}

.lokalizacja{
  width: 40%;
  height: 20px;
  float: left;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  margin-left: 30px;
  margin-top: 10px;
  clear: both;
}

.opis{
  width: 400px;
  height: 150px;
  float: left;
  box-sizing: border-box;
}

.wiadomosc{
  min-width: 80px;
  min-height: 10px;
  text-align: right;
  font-size: 15px;
  border: 2px solid rgb(0, 119, 255);
  float: right;
  font-weight: bold;
  color: rgb(0, 119, 255);
  bottom: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  right: 215px;
  position: fixed;
  box-sizing: border-box;
  transition: 0.5s background-color;
}

.prawo{
  width: 180px;
  height: 150px;
  float: left;
  margin-left: 10px;
  box-sizing: border-box;
}

.edytuj{
  width: 100%;
  height: 74px;
  box-sizing: border-box;
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  font-size: 20px;
}